html, body {
  background: #000000;
  color: #C0C0C0;
  font-family: Inconsolata, monospace;
  font-size: 16px;
}

#html.segfault, #html.segfault body, #html.segfault h1 {
  background: #800000;
}

h1 {
  margin: 8px 0 0 0;
  font-size: 16px;
  background: #000000;
  padding: 0 8px;
  display: inline-block;
}

h2, h3 {
  font-size: 16px;
  margin: 8px 0;
  display:inline-block;
  text-align: center;
  width: 100%;
}

body {
  margin: 16px;
  border: 1px solid #C0C0C0;
}

#title-wrapper, #registers-title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center
}

#container {
  display:flex;
  flex-direction: column;
}

#menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 8px 0 0 0;
  padding: 0 0 8px 0;
  border-bottom: 1px solid #C0C0C0;
}

#menu > div {
  cursor: pointer;
}

#menu > div:hover .dark-green {
  color: #00ff00;
}

#menu > div:hover .yellow {
  font-weight: bold;
}

.yellow {
  color: #ffff00;
}

.dark-green {
  color: #008000;
}

.light-green {
  color: #00ff00;
}

.blue {
  color: #0000ff;
}

.bold {
  font-weight: bold;
}

#registers {
  position: relative;
  display:flex;
  flex-direction: row;
  border-top: 1px solid #C0C0C0;
  border-left: 1px solid #C0C0C0;
  border-bottom: 1px solid #C0C0C0;
  margin: 0 -1px;
}

#registers > div {
  flex: 1;
  border-right: 1px solid #C0C0C0;
  display:flex;
  flex-direction: column;
}

.register-details {
  flex: 1;
  text-align: center;
}

#ax-graph, #bx-graph, #cx-graph {
  margin: 16px 0 16px 0;
  height: 16px;
  width: 100%;
  display: inline-block;
  position:relative;
}

#ax-graph-inner, #bx-graph-inner, #cx-graph-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  display: inline-block;
  background: #008000;
}

#upgrades, #permanent-upgrades {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#upgrades > div, #permanent-upgrades > div {
  display: flex;
  margin: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#upgrades > div:hover, #permanent-upgrades > div:hover {
  color: #ffffff;
  font-weight: bold;
}

pre {
  font-family: Inconsolata, monospace;
  font-size: 16px;
  margin: 0;
}

#code-container {
  flex: 1;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

#editor {
  height: 100%;
  flex: 1;
}

#state-container {
  margin: 0 16px;
}

#log {
  height: 100%;
  overflow-y: scroll;
}